$blanco: white;
$font-family: 'Muli', sans-serif;

// .flex {
//     justify-content: center;
//     align-items: center;
// }

@mixin flex {
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    background: linear-gradient(#21C08B, #0e7a56);
    font-family: $font-family;
}

.button {
    margin: 10px 0;
    border: none;
    padding: 10px;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .4);
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.button a{
    text-decoration: none;
    color: black;
}